//Colors

$baseText:#415770;

$bBlue: #00376c;
$dBlue: #00274c;
$nBlue: #004588;
$blue: #0056a9;
$lBlue: #017aef;
$navBlude: #00386b;
$sortBlue: #004588;

$fGray: #a5abb9;

$paragraph:#8b8f90;

//Dimentions
$contentWidth:1200px;
$fHeight: 430px;